<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 shadow-sm">
    <a class="my-0 mr-md-auto font-weight-normal textBlack" href="/">Bela Cozinha</a>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 textBlack" href="#">Produtos</a>
      <a class="p-2 textBlack" href="#">Aprendizado</a>
      <a class="p-2 textBlack" href="/cart">Carrinho</a>
      <a class="p-2 textBlack" href="/profile">Perfil</a>
    </nav>
    <a class="btn textBlack" href="/register">Cadastrar</a>
    <a class="btn textBlack" href="/login">Login</a>
  </div>
  <div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="https://www.netfort.com/assets/user.png" alt=""/>
                    <div class="file btn btn-lg btn-primary">
                        Mudar a foto
                        <input type="file" name="file"/>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                            <h5>
                                Nome
                            </h5>
                            <h6>
                                Descrição
                            </h6>
                            <p>Cidade</p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Linha do tempo</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Editar perfil"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>Contato</p>
                    <a href="">WhatsApp</a><br/>
                    <a href="">Facebook</a><br/>
                    <a href="">Instagram</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nome de usuário</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>UserName</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nome</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Nome</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>email@gmail.com</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Telefone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>123 456 7890</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Cidade</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Cidade</p>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experiência</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Lucro</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>R$100</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Receitas cadastradas</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>3</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Tempo na plataforma</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>2 meses</p>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </form>           
  </div>
</body>
