  <div class="jumbotron">
    <div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-3">Aprendizado</h1>
    <button id="btn" type="button" [routerLink]="'/register-video'" class="btn btn-lg btn-block btn-primary">Envie Seu Video</button>
  <p class="lead textBlack">Confira os nossos videos para se profissionalizar cada vez mais e aprender receitas fantasticas.</p>
</div>
    </div>
<div class="album">
      <div class="container">
        <div class="row">
          <div id="card" class="col-md-4" *ngFor="let video of video_list">
            <div class="card mb-4 shadow-sm">
              <video width="auto" height="auto" controls>
                <source [src]="'https://docs.google.com/uc?id='+video.video" type="video/mp4">
              </video>
              <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
              <div class="card-body textHeader ">
                <p class="card-text">Confira essa receita deliciosa de {{video.nome}}.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <small class="colorBlack">{{video.Detalhes}}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

