<body>
  <div
    style="background-image: url('https://portal-amb-imgs.clubedaana.com.br/2017/08/churro-recheado-com-doce-de-leite-condensado-e-chocolate-1920x1080.jpg')"
    class="position-relative overflow-hidden p-md-2 text-center">
    <div class="col-md-5 p-lg-5 mx-auto mb-5">
      <h1 class="display-4 font-weight-normal">Bela Cozinha</h1>
      <p class="lead font-weight-normal">Produzido para você que deseja conseguir uma renda extra com seus produtos e
        temos de tudo para ajudar a você conseguir isso.</p>
    </div>
  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Produtos</h1>
    <p class="lead textBlack">Confira esses produtos que acabaram de entrar no catálogo.</p>
  </div>

  <div class="container">
    <div class="album">
      <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let produto of product_list">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal text-center">{{produto.Nome}}</h4>
            </div>
            <div class="card-body shadow-sm">
              <img [src]="'https://docs.google.com/uc?id='+produto.img" height="200" width="300">
              <h1 class="card-title pricing-card-title textCenter">R${{produto.preco}}</h1>
              <ul class="list-unstyled mt-3 mb-4 textCenter">
                <li>Feito por:</li>
                <li>{{produto.nome}}</li>
                <li>{{produto.detalhes}}</li>
              </ul>
              <button type="button" class="btn btn-lg btn-block btn-primary">Adicionar no carrinho</button>
            </div>
          </div>
        </div>
      </div>


      <section class="jumbotron text-center">
        <div class="container">
          <a class="h1" href="video">
            <h1 class="jumbotron-heading">Aprendizado</h1>
          </a>
          <p class="textBlack lead">Confira novos videos para se profissionalizar cada vez mais e aprender receitas
            fantasticas.</p>
        </div>
      </section>

      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Destaques da semana</h1>
      </div>

      <div class="album">
        <div class="container">

          <div class="row">
            <div id="card" class="col-md-4" *ngFor="let video of video_list">
              <div class="card mb-4 shadow-sm">
                <video width="auto" height="auto" controls>
                  <source [src]="'https://docs.google.com/uc?id='+video.video" type="video/mp4">
                </video>
                <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
                <div class="card-body">
                  <p class="card-text">Confira essa receita deliciosa de {{video.nome}}.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <small class="colorBlack">{{video.Detalhes}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="pt-4 my-md-5 pt-md-5 border-top x1R">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
          <small class="d-block mb-3 colorBlack">Grupo ZDA ©2019</small>
        </div>
        <div class="col-6 col-md">
          <h5>Para você</h5>
          <ul class="list-unstyled text-small">
            <li><a class="colorBlack" href="/product">Produtos</a></li>
            <li><a class="colorBlack" href="/video">Aprendizado</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Sobre</h5>
          <ul class="list-unstyled text-small">
            <li><a class="colorBlack" href="#">Time</a></li>
            <li><a class="colorBlack" href="#">Endereço</a></li>
            <li><a class="colorBlack" href="#">Privacidade</a></li>
            <li><a class="colorBlack" href="#">Termos</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>


</body>