  <div class="jumbotron">
    <div class="pricing-header px-1 py-1 pt-md-54pb-md-2 mx-auto text-center">
    <h1 class="display-4">Produtos</h1>
    <button id="btn" type="button" class="btn btn-lg btn-block btn-primary" [routerLink]="'/register-product'">Cadastrar Seu Produto</button>
    <br>
    <p class="lead textBlack">Bem vindo a seção de produtos. Aqui voce podera cadastrar seus produtos assim como conferir as novidades de outras pessoas.</p>
</div>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div id="card" *ngFor="let produto of product_list" class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">{{produto.Nome}}</h4>
        </div>
        <div class="card-body">
          <img [src]="'https://docs.google.com/uc?id='+produto.img" height="200" width="300">
          <h1 class="card-title pricing-card-title">R${{produto.preco}}</h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Feito por:</li>
            <li>{{produto.nome}}</li>
            <li>{{produto.detalhes}}</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Adicionar no carrinho</button>
        </div>
      </div>
